profiles {

  ilifu {
    process.executor = 'slurm'

    singularity.enabled    = true
    singularity.autoMounts = true

    singularity.cacheDir = "/cbio/users/simon/.singularity/cache"
    workDir              = "/cbio/users/simon/nextflow_work"

    process.queue  = 'Main'
    process.cpus   = 2
    process.memory = '4 GB'
    process.time   = '2h'

    process.errorStrategy = 'retry'
    process.maxRetries    = 1
  }

  localdev {
    process.executor = 'local'
    singularity.enabled = false
  }
}
